.custom__Loader {
  width: 50px;
  height: 28px;
  background: radial-gradient(farthest-side, #005734 90%, #0000) 0 50%/12px 12px,
    radial-gradient(farthest-side at bottom, #005734 90%, #0000) 50%
      calc(50% - 3px) / 12px 6px,
    radial-gradient(farthest-side at top, #005734 90%, #0000) 50%
      calc(50% + 3px) / 12px 6px,
    radial-gradient(farthest-side at bottom, #005734 90%, #0000) 100%
      calc(50% - 3px) / 12px 6px,
    radial-gradient(farthest-side at top, #005734 90%, #0000) 100%
      calc(50% + 3px) / 12px 6px;
  background-repeat: no-repeat;
  animation: d4 1s infinite;
}
@keyframes d4 {
  25% {
    background-position: 0 50%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  50% {
    background-position: 100% 50%, 0 0, 0 100%, 50% 0, 50% 100%;
  }
  75%,
  100% {
    background-position: 100% 50%, 0 calc(50% - 3px), 0 calc(50% + 3px),
      50% calc(50% - 3px), 50% calc(50% + 3px);
  }
}
