.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 5em;
}

.title {
  color: #005734;
  font-weight: 600;
  font-size: 1.5rem;
}

.main__content {
  margin-top: 1.5rem;
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}
